body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: rosybrown;
    display: flex;
    font-size: 16px;
}

.flex-container {
    display: flex;
    
  }
  
  .flex-container > div {
    
    padding: 40px;
    
  }
.item_2{
    margin: auto;
    
}
form{
    background-color: aliceblue;
    margin: 10px;
}
button{
    
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    margin-top: 30px;
}